<h4>Card 1</h4>

<div class="card">
  <div class="card-header">
    <h4 class="card-title">Card title 1</h4>
  </div>
  <div class="card-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis, urna ac auctor ornare, erat nibh luctus
      elit, ac bibendum sem metus sit amet est. Suspendisse enim urna, porttitor in magna a, accumsan pretium massa.
      Cras in ultrices leo. Duis tincidunt non est eu imperdiet. Nam at urna vel massa dictum consequat vitae non purus.
      Nulla accumsan elit eget nisl finibus congue imperdiet vel purus. Curabitur eget congue ex. Morbi tincidunt odio
      eu dolor condimentum ullamcorper. Duis sed hendrerit tellus. Ut blandit velit pharetra risus pharetra, id
      fringilla eros venenatis. Aenean eu dictum justo, non facilisis ante. Quisque a nisi nibh. Nulla viverra varius
      dui. Curabitur fringilla rhoncus orci ac molestie.</p>
  </div>
</div>

<hr/>

<h4>Card 2</h4>

<div class="card custom-card">
  <div class="card-header">
    <h4 class="card-title">Card title 2</h4>
  </div>
  <div class="card-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis, urna ac auctor ornare, erat nibh luctus
      elit, ac bibendum sem metus sit amet est. Suspendisse enim urna, porttitor in magna a, accumsan pretium massa.
      Cras in ultrices leo. Duis tincidunt non est eu imperdiet. Nam at urna vel massa dictum consequat vitae non purus.
      Nulla accumsan elit eget nisl finibus congue imperdiet vel purus. Curabitur eget congue ex. Morbi tincidunt odio
      eu dolor condimentum ullamcorper. Duis sed hendrerit tellus. Ut blandit velit pharetra risus pharetra, id
      fringilla eros venenatis. Aenean eu dictum justo, non facilisis ante. Quisque a nisi nibh. Nulla viverra varius
      dui. Curabitur fringilla rhoncus orci ac molestie.</p>
  </div>
</div>

